{% extends 'blog/base.html' %}
{% block content %}
<h1 class='posttitle loader'> {{ chat.name }} is the chat detail</h1>
<p class='chatcontent'> {{ chat.name }}></p>

{% if request.user.is_authenticated%}
<a class='btn btn-primary' href="{% url 'update_comment' pk=comment.id %}">
  <span class='glyphicon glyphicon-pencil'></span>
</a>
<a class='btn btn-primary' href="{% url 'remove_comment' pk=comment.id %}">
  <span class='glyphicon glyphicon-remove'></span>
  {% endif %}

  <hr>
  <a class='btn btn-primary btn-comment href="{% url 'add_comment' pk=commment.id%}">Add comment</a>
<!-- for every comment in chat comments, i want to check if the user is is_authenticated  -->


  {% endblock content %}